<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <img th:src="@{/images/games/{game_id}.jpg(game_id=${game.id})}">
    <div class="client-info">
        <p>Информация о game
        <p>id: <td th:text="${game.id}"></td>
        <p>title: <td th:text="${game.title}"></td>
        <p>linkUrl: <td th:text="${game.linkUrl}"></td>
    </div>
    <a th:href="@{/games/{game_id}/submit(game_id=${game.id})}" th:text="Submit">submit</a>
</div>
</body>
</html>