<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>
<body>
<h1>Hello, <span th:text="${username}">user</span></h1>
<p>Welcome to our resource, visit us any time at <a href='http://localhost:8080'>Visit</a>
<img src="https://www.google.ru/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"/>

</body>
</html>